* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

h1 {
    font-weight: 700;
    line-height: 130%;
    font-size: 49px;
    color: #ffffff;
    width: 754px;
}

h2 {
    font-weight: 700;
    line-height: 130%;
    font-size: 40px;
    letter-spacing: -0.03em;
}

h3 {
    font-weight: 500;
    color: #616161;
    font-size: 28px;
    line-height: 130%;
}

header {
    display: flex;
    background-color: #000000;
    justify-content: space-between;
    align-items: center;
    padding:  20px 190px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu-icon {
    width: 65px;
    display: none;
    cursor: pointer;
}

.link {
    font-family: "Inter";
    font-size: 16px;
    color: #ffffff;
    line-height: 20px;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
}

.link:hover {
    opacity: 1;
}

.btn-primary {
    width: 247px;
    height: 40px;
    background: #ffce2e;
    border-radius: 101px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 15.2704px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #242424;
    transition: 0.3s;   
}

.btn-primary:hover {
    color: #fff;
}

.btn-primary:active {
    opacity: 0.9;
    transition: 0s;
}

.first-section {
    background: no-repeat url("./assets/bg.svg");
    width: 100%;
    height: 75vh;
    background-size: cover;
    padding: 200px 190px;
}

.info-points {
    display: flex;
    color: #ffffff;
    opacity: 0.7;
    gap: 15px;
    align-items: center;
    text-align: center;
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 35px;
}

span {
    background: #006D8F;
    color: #ffffff;
    border-radius: 122px;
    font-size: 13px;
    width: 54px;
    height: 26px;
}

.info-account {
    color: #ffffff;
    font-size: 18px;
    opacity: 0.7;
    line-height: 150%;
    margin-top: 22px;
    margin-bottom: 41px;
    width: 400px;
}

.btn-second {
    width: 247px;
    height: 48px;
    border: 1px solid #ffffff;
    border-radius: 101px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #ffffff;
    transition: 0.3s;
}

.btn-second:hover {
    background: #242424;
    border: 1px solid #242424;
}

.second-section {
    padding: 95px 190px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    position: relative;
}

.div-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.container {
    margin-top: 100px;
    display: flex;
    gap: 60px;
    flex-direction: column;
}

.div-info {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: self-start;
}

.paragraph-info-sup {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 9px;
    width: 250px;
}

.paragraph-info-inf {
    font-weight: 400;
    font-size: 16px;
    color: #616161;
    line-height: 150%;
    width: 280px;
}

.card-primary {
    position: absolute;
    right: 250px;
    top: 0px;
    animation: moveCards 2s infinite alternate ease-in-out;
}

@keyframes moveCards {
    from {
        top: 0px;
    }

    to {
        top: -150px;
    }
}

.third-section {
    padding: 100px 190px;
}

.container-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.btn-third {
    border: 1px solid #c4c4c4;
    padding: 5px 5px;
    border-radius: 122px;
    display: flex;
    gap: 50px;
    width: 602px;
    height: 73px;
}

.btn-forfth {
    width: 270px;
    height: 61px;
    border: 1px solid #ffffff;
    border-radius: 101px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.btn-forfth:hover {
    background: #000000;
    color: #ffffff;
    font-weight: 600;
    transition: 0.3s;
}

.container-card-info {
    background: linear-gradient(98.6deg, #020302 7.61%, #242424 96.26%);
    border-radius: 12px;
    display: flex;
    padding: 90px 230px 50px 230px;
    width: 1530px;
    height: 432px;
}

.card-info {
display: flex;
flex-direction: column;
gap: 15px;
}

.info {
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    width: 250px;
    letter-spacing: -0.03em;
}

.description {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    opacity: 0.7;
    line-height: 150%;
    width: 365px;
    margin-bottom: 50px;
}

.container-information {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    line-height: 150%;
    color: #fafafa;
}

.container-images {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
}

.img-card {
    position: absolute;
    bottom: 0px;
    right: 40px;
    z-index: 999;
    width: 85%;
    animation: moveCard 2s infinite alternate ease-in-out;
}

@keyframes moveCard {
    from {
        bottom: 0;
    }

    to {
        bottom: -60px;
    }
}

.img-phone {
    position: absolute;
    right: 40px;
    bottom: -50px;
    width: 80%;
}

@media (max-width: 1700px){
    .first-section {
        background-position-x: -250px;
    }
    .container-card-info{
        width: 1270px;
        padding: 90px 100px 50px 100px;
    }

    .card-primary {
        right: 200px;
    }
}

@media (max-width: 1500px){
    header {
        padding: 20px 100px;
    }

    .first-section {
        padding: 200px 100px;
    }

    .second-section {
        padding: 95px 100px;
    }

    .card-primary {
        right: 120px;
    }

    .third-section {
        padding: 100px;
    }
}

@media (max-width: 430px){
    h1{
        width: 382px;
        font-size: 27px;
    }

    h2 {
        font-size: 23px;
    }

    h3 {
        font-size: 17px;
    }
    

    header {
        padding: 10px 15px;
        height: 75px;
    }

    header nav {
        flex-direction: column;
        gap: 5px;
        align-items: end;
    }

    #menu-list {
        width: 135px;
        position: relative;
        top: 60px;
        left: 77px;
        overflow: hidden;
        transition: all 0.8s ease-in-out;
    }

    .menu-icon {
        display: block;
    }

    .link {
        font-size: 14px;
    }

    .btn-primary {
        width: 135px;
        height: 30px;
        font-size: 12px;
    }

    .first-section {
        background-position-x: -715px;
        padding: 60px 15px;
        height: 55vh;
    }

    .info-points {
        gap: 8px;
        font-size: 12px;
        margin-top: 140px;
        margin-bottom: 10px;
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info-account {
        font-size: 14px;
        margin-top: 13px;
        margin-bottom: 20px;
    }

    .btn-second {
        width: 185px;
        height: 50px;
        font-size: 14px;
    }

    .second-section {
        padding: 50px 15px;
    }

    .container {
        margin-top: 30px;
        gap: 17px;
    }

    .paragraph-info-sup {
        font-size: 13px;
        width: 225px;
        margin-bottom: 5px;
        margin-top: 3px;
    }

    .paragraph-info-inf {
        font-size: 11px;
        width: 220px;
    }

    .div-infos {
        flex-direction: column;
        gap: 17px;
    }

    .card-primary {
        width: 170px;
        right: 7px;
    }

    @keyframes moveCards {
        from {
            top: 110px;
        }
    
        to {
            top: -95px;
        }
    }

    .third-section {
        padding: 15px;

    }

    .container-products {
        margin-bottom: 40px;
        display: block;
    }

    .btn-third  {
        gap: 5px;
        width: 382px;
        height: 72px;
        margin-top: 20px;
    }

    .btn-forfth {
        width: 185px;
        background-color: #000000;
        color: #ffffff;
    }

    .btn-forfth:hover {
        background: #616161;
    }

    .container-card-info {
        padding: 30px 13px 10px 13px;
        width: 383px;
        height: 470px;
        margin-bottom: 30px;
        flex-direction: column;
    }
    
    .description {
        margin-bottom: 30px;
    }

    .container-images {
        height: 195px;
    }

    .img-card {
        width: 60%;
        right: 130px;
    }

    @keyframes moveCard {
        from {
            bottom: 0;
        }
    
        to {
            bottom: -30px;
        }
    }

    .img-phone {
        width: 60%;
        right: 125px;
        top: 67px;
    }

}